*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header-intestazione{
    height: 150px;
    width: 100%;
   
    background-color: rgb(116, 182, 236);
}

.intestazione-logo{
    height: 50px;
    padding: 10px;
    margin: 40px;

}

.corpo-articolo{
    margin: 10px;
}

.titolo{
    margin: 30px auto 30px 0;
}
.titolo-principale{
    font-weight: bold;
    font-size: 40px;
}

.sottotitolo-principale{
    font-size: 15px;
    color: grey;
}

.sottotitolo-principale em{
    color: rgb(54, 116, 242);
    font-style: normal;
}

.didascalia{
    font-size: 12px;
    color: grey;
}
